.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &-box {
    background: $primary;
    border: solid 1px $text;

    &-00 {
      grid-area: 1 / 1 / 2 / 2;
    }
    &-01 {
      grid-area: 1 / 2 / 2 / 3;
    }

    &-02 {
      grid-area: 1 / 3 / 2 / 4;
    }
    &-03 {
      grid-area: 1 / 4 / 2 / 5;
    }
    &-04 {
      grid-area: 1 / 5 / 2 / 6;
    }
    &-05 {
      grid-area: 1 / 6 / 2 / 7;
    }
    &-06 {
      grid-area: 1 / 7 / 2 / 8;
    }
    &-07 {
      grid-area: 1 / 8 / 2 / 9;
    }

    &-08 {
      grid-area: 1 / 9 / 2 / 10;
    }
    &-09 {
      grid-area: 1 / 10 / 2 / 11;
    }
    &-10 {
      grid-area: 2 / 1 / 3 / 2;
    }
    &-11 {
      grid-area: 2 / 2 / 3 / 3;
    }
    &-12 {
      grid-area: 2 / 3 / 3 / 4;
    }
    &-13 {
      grid-area: 2 / 4 / 3 / 5;
    }
    &-14 {
      grid-area: 2 / 5 / 3 / 6;
    }
    &-15 {
      grid-area: 2 / 6 / 3 / 7;
    }
    &-16 {
      grid-area: 2 / 7 / 3 / 8;
    }
    &-17 {
      grid-area: 2 / 8 / 3 / 9;
    }
    &-18 {
      grid-area: 2 / 9 / 3 / 10;
    }
    &-19 {
      grid-area: 2 / 10 / 3 / 11;
    }

    &-20 {
      grid-area: 3 / 1 / 4 / 2;
    }
    &-21 {
      grid-area: 3 / 2 / 4 / 3;
    }
    &-22 {
      grid-area: 3 / 3 / 4 / 4;
    }
    &-23 {
      grid-area: 3 / 4 / 4 / 5;
    }
    &-24 {
      grid-area: 3 / 5 / 4 / 6;
    }
    &-25 {
      grid-area: 3 / 6 / 4 / 7;
    }
    &-26 {
      grid-area: 3 / 7 / 4 / 8;
    }
    &-27 {
      grid-area: 3 / 8 / 4 / 9;
    }
    &-28 {
      grid-area: 3 / 9 / 4 / 10;
    }
    &-29 {
      grid-area: 3 / 10 / 4 / 11;
    }
    &-30 {
      grid-area: 4 / 1 / 5 / 2;
    }
    &-31 {
      grid-area: 4 / 2 / 5 / 3;
    }
    &-32 {
      grid-area: 4 / 3 / 5 / 4;
    }
    &-33 {
      grid-area: 4 / 4 / 5 / 5;
    }
    &-34 {
      grid-area: 4 / 5 / 5 / 6;
    }
    &-35 {
      grid-area: 4 / 6 / 5 / 7;
    }
    &-36 {
      grid-area: 4 / 7 / 5 / 8;
    }
    &-37 {
      grid-area: 4 / 8 / 5 / 9;
    }
    &-38 {
      grid-area: 4 / 9 / 5 / 10;
    }
    &-39 {
      grid-area: 4 / 10 / 5 / 11;
    }
    &-40 {
      grid-area: 5 / 1 / 6 / 2;
    }

    &-41 {
      grid-area: 5 / 2 / 6 / 3;
    }
    &-42 {
      grid-area: 5 / 3 / 6 / 4;
    }
    &-43 {
      grid-area: 5 / 4 / 6 / 5;
    }
    &-44 {
      grid-area: 5 / 5 / 6 / 6;
    }
    &-45 {
      grid-area: 5 / 6 / 6 / 7;
    }
    &-46 {
      grid-area: 5 / 7 / 6 / 8;
    }
    &-47 {
      grid-area: 5 / 8 / 6 / 9;
    }
    &-48 {
      grid-area: 5 / 9 / 6 / 10;
    }
    &-49 {
      grid-area: 5 / 10 / 6 / 11;
    }
    &-50 {
      grid-area: 6 / 1 / 7 / 2;
    }
    &-51 {
      grid-area: 6 / 2 / 7 / 3;
    }
    &-52 {
      grid-area: 6 / 3 / 7 / 4;
    }

    &-53 {
      grid-area: 6 / 4 / 7 / 5;
    }
    &-54 {
      grid-area: 6 / 5 / 7 / 6;
    }
    &-55 {
      grid-area: 6 / 6 / 7 / 7;
    }
    &-56 {
      grid-area: 6 / 7 / 7 / 8;
    }
    &-57 {
      grid-area: 6 / 8 / 7 / 9;
    }
    &-58 {
      grid-area: 6 / 9 / 7 / 10;
    }
    &-59 {
      grid-area: 6 / 10 / 7 / 11;
    }
    &-60 {
      grid-area: 7 / 1 / 8 / 2;
    }
    &-61 {
      grid-area: 7 / 2 / 8 / 3;
    }
    &-62 {
      grid-area: 7 / 3 / 8 / 4;
    }

    &-63 {
      grid-area: 7 / 4 / 8 / 5;
    }
    &-64 {
      grid-area: 7 / 5 / 8 / 6;
    }
    &-65 {
      grid-area: 7 / 6 / 8 / 7;
    }
    &-66 {
      grid-area: 7 / 7 / 8 / 8;
    }
    &-67 {
      grid-area: 7 / 8 / 8 / 9;
    }
    &-68 {
      grid-area: 7 / 9 / 8 / 10;
    }
    &-69 {
      grid-area: 7 / 10 / 8 / 11;
    }
    &-70 {
      grid-area: 8 / 1 / 9 / 2;
    }
    &-71 {
      grid-area: 8 / 2 / 9 / 3;
    }
    &-72 {
      grid-area: 8 / 3 / 9 / 4;
    }
    &-73 {
      grid-area: 8 / 4 / 9 / 5;
    }
    &-74 {
      grid-area: 8 / 5 / 9 / 6;
    }
    &-75 {
      grid-area: 8 / 6 / 9 / 7;
    }

    &-76 {
      grid-area: 8 / 7 / 9 / 8;
    }
    &-77 {
      grid-area: 8 / 8 / 9 / 9;
    }

    &-78 {
      grid-area: 8 / 9 / 9 / 10;
    }
    &-79 {
      grid-area: 8 / 10 / 9 / 11;
    }
    &-80 {
      grid-area: 9 / 1 / 10 / 2;
    }
    &-81 {
      grid-area: 9 / 2 / 10 / 3;
    }
    &-82 {
      grid-area: 9 / 3 / 10 / 4;
    }
    &-83 {
      grid-area: 9 / 4 / 10 / 5;
    }
    &-84 {
      grid-area: 9 / 5 / 10 / 6;
    }
    &-85 {
      grid-area: 9 / 6 / 10 / 7;
    }
    &-86 {
      grid-area: 9 / 7 / 10 / 8;
    }
    &-87 {
      grid-area: 9 / 8 / 10 / 9;
    }
    &-88 {
      grid-area: 9 / 9 / 10 / 10;
    }
    &-89 {
      grid-area: 9 / 10 / 10 / 11;
    }

    &-90 {
      grid-area: 10 / 1 / 11 / 3;
    }
    &-91 {
      grid-area: 10 / 2 / 11 / 3;
    }
    &-92 {
      grid-area: 10 / 3 / 11 / 5;
    }
    &-93 {
      grid-area: 10 / 4 / 11 / 5;
    }
    &-94 {
      grid-area: 10 / 5 / 11 / 6;
    }

    &-95 {
      grid-area: 10 / 6 / 11 / 7;
    }
    &-96 {
      grid-area: 10 / 7 / 11 / 8;
    }
    &-97 {
      grid-area: 10 / 8 / 11 / 9;
    }
    &-98 {
      grid-area: 10 / 9 / 11 / 10;
    }
    &-99 {
      grid-area: 10 / 10 / 11 / 11;
    }
  }
}

.button {
  padding: 15px 40px;
  font-size: 1.2em;
  font-weight: 700;
  border: none;
  letter-spacing: 1px;
  border-radius: 15px;
  
  &-danger {
    background: $danger;
    color: $background;
  }

  &-primary {
    background: $primary;
    color: $text;
  }

  &:hover {
    cursor: pointer; 
  }
}
