.pick-color {
  background: $pick-color;
}

.pick-danger {
  background: $danger;
}

#error-text {
  color: $danger;
  font-size: 1.5rem;
}

.selected-grid {
  background-color: $success;
  pointer-events: none;
}

.all-set {
  color: $success;
}

.pick-text {
  color: $pick-color;
  text-decoration: underline;
}
