$background: #F0FAFF;
$text: #202427;
$primary: #20A9FE;
$secondary: #0086D8;
$danger: #FF6670;
$success: #35B855;

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700
);