@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import "./resets";
@import "./variables";

body {
  font-family: 'Poppins', sans-serif;
  background-color: $background;
  color: $text;
  font-weight: map-get($font-weights, regular);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4.5rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: $text;
    font-size: 1.5rem;
  }
}